body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.column {
    margin-right: 20px;
}

h2, h3 {
    font-size: 18px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.column h3 {
    margin-top: 0;
}

.column:last-child {
    margin-right: 0;
}

.social-language {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.language-select {
    flex: none;
}

#language-select {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.social-links {
    display: flex;
    flex-direction: column;
}

.social-links li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.social-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.social-links i {
    margin-right: 10px;
    font-size: 20px;
    color: #333;
}
